<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - FitnessShare</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <div class="main">
    <div class="main__container">
      <div class="main__content">
        <h1>About Me</h1>
        <h2>Bhavesh Thapar</h2>
        <p>I'm a sophomore in college studying computer science. I started going to the gym as an overweight junior in high school and haven't stopped since. I've always been asked what I do to get in shape and stay healthy, which inspired me to create FitnessShare for others to share their experiences as well.</p>
      </div>
      <div class="main__img--container">
        <img id="main__img" src="/images/pic1.jpg" alt="Bhavesh Thapar">
      </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
</body>
</html>
