<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact - FitnessShare</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  

<div class="information__container">
  <h1>FitnessShare Website Terms and Conditions of Use</h1>
  <div class="information__text">
    <p>Please read these terms carefully before using this website.</p>
    <br />
    <p>The materials located at <a href="https://www.fitnessshare.com">www.fitnessshare.com</a>, and all subdirectories (collectively the “Site”), are provided by FitnessShare, Inc. (“FitnessShare”) as a service to its customers and may be used for informational purposes only. By visiting or downloading any materials from this Site, you agree to these Website Terms and Conditions of Use (“Terms”). If you do not agree to these Terms, do not access or otherwise use the Site.</p>
    <br />
    <p>FitnessShare reserves the right to update, modify or amend these Terms at any time, and any such updates, modifications or amendments will be binding on you. Because these Terms are binding upon you in connection with any use you make of the Site at any time, you should regularly check for changes before proceeding to use this Site.</p>
    <br />
    <p>The section headings used in these Terms are for reference purposes only and shall not be used in the interpretation of the meaning of these Terms.</p>
  </div>

  <div class="information__text">
    <h2>Site Content and Intellectual Property</h2>
    <p>This Site as a whole, as well as all materials, images, text (other than user information), illustrations, designs, icons, photographs, video clips, audio signals, structure, layout, software, “look and feel,” and other elements contained on or otherwise making up this Site (collectively, the “Content”), are protected by copyright, trademark, trade dress, and other intellectual property laws and international conventions. Unless otherwise noted, all worldwide rights, titles, and interests in and to the Site and Content are owned or licensed by FitnessShare and/or its affiliated companies.</p>
    <br />
    <p>FitnessShare and the FS logo are trademarks or registered trademarks of FitnessShare and its subsidiaries in the United States and other countries. These trademarks may not be used without express permission from FitnessShare.</p>
    <br />
    <p>FitnessShare grants you a limited, nonexclusive, nontransferable, non-sublicensable, right and license to access and use the Site and its Content for purposes of general browsing, participating in user forums and user submissions, and/or conducting business with FitnessShare. In all events, however, you shall not be permitted to, you shall not, and you shall not permit others to: (i) copy, adapt, display, distribute, publish, disseminate, transmit, store, sell, or use the Site and/or the Content for any purposes or in any manner other than as intended and expressly authorized in writing by FitnessShare; (ii) attempt to remove from the Site, download, copy, recreate, disassemble, modify, destroy, tamper with, deactivate, translate, reverse engineer, or decompile any software or other Content on the Site; or (iii) assign, sell, sublicense, lease, or otherwise transfer your right to use the Site or its Content. You may not reproduce any Content on your personal website, blog, social network, or any other online resource without FitnessShare’s express written permission or as allowed by any license terms entered into with FitnessShare. FitnessShare may terminate this license at any time if you are in breach of the Terms set forth herein. Upon termination, you will immediately destroy and make no further use of any downloaded materials or Content, and upon request, you will certify this to FitnessShare in writing.</p>
  </div>

  <div class="information__text">
    <h2>Proper Use</h2>
    <p>You must be at least 18 years of age to view any page or other correspondence or Content from this Site. You understand, acknowledge and agree that FitnessShare cannot and shall not be held responsible for any harm that is experienced, real or perceived, from viewing, following, or contributing, of any Content on this Site.</p>
    <br />
    <p>You acknowledge that some areas of the Site may from time to time be restricted and accessible only to certain users via password. As part of the registration process, each user will submit his or her email address and select a password. You shall provide FitnessShare with accurate, complete, and updated account information. Failure to do so shall constitute a breach of these Terms, which may result in immediate termination of your account. You agree to access and use only those areas of the Site that have been authorized for your use and to refrain from using any password or account information of any third party. You agree to immediately notify FitnessShare of any known or suspected unauthorized use(s) of your account, or any known or suspected breach of security, including loss, theft, or unauthorized disclosure of your password. You shall be responsible for maintaining the confidentiality of your password. You agree not to disclose or share your password or other relevant account information with any third parties or to use your password for any unauthorized purpose.</p>
    <br />
    <p>You must not use this Site in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity. You are prohibited from posting or transmitting to this Site any unlawful, threatening, libelous, defamatory, obscene, pornographic, or other material that would violate any law. You agree to refrain from using any device, software, or routine to interfere or attempt to interfere with the proper working of the Site or any transaction being conducted on Site. You further agree to refrain from taking any action that could impose an unreasonable or disproportionately large burden on the Site infrastructure. Doing so may result in termination of your account.</p>
  </div>

  <div class="information__text">
    <h2>Disclaimer</h2>
    <p>EXCEPT AS OTHERWISE EXPRESSLY PROVIDED, THIS SITE, ALL CONTENTS AND ALL PRODUCTS AND SERVICES ARE PROVIDED ON AN “AS IS” BASIS. FITNESSSHARE DISCLAIMS ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. FITNESSSHARE DOES NOT WARRANT THAT YOUR USE OF THIS SITE WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT THIS SITE OR ITS SERVER ARE FREE OF VIRUSES OR OTHER HARMFUL ELEMENTS. ALTHOUGH FITNESSSHARE ENDEAVORS TO PROVIDE ACCURATE INFORMATION, IT DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE ACCURACY OR RELIABILITY OF INFORMATION ON THIS SITE. YOUR USE OF THE SITE IS AT YOUR OWN RISK. FITNESSSHARE SHALL NOT BE LIABLE FOR DAMAGES OF ANY KIND RELATED TO YOUR USE OF OR INABILITY TO USE THIS SITE, EVEN IF FITNESSSHARE KNEW OR SHOULD HAVE KNOWN OF THE POTENTIAL FOR SUCH DAMAGES. FITNESSSHARE DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THIS SITE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. IF YOUR USE OF THIS SITE OR THE MATERIALS CONTAINED ON THE SITE RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, FITNESSSHARE IS NOT RESPONSIBLE FOR THOSE COSTS.</p>
  </div>

  <div class="information__text">
    <h2>Limitation of Liability</h2>
    <p>IN NO EVENT SHALL FITNESSSHARE, ITS DIRECTORS, MEMBERS, EMPLOYEES, OR AGENTS BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THIS SITE OR THE MATERIALS CONTAINED IN, OR ACCESSED THROUGH, THIS SITE, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY USER ON ANY INFORMATION OBTAINED FROM FITNESSSHARE, OR THAT RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES OR EMAIL, ERRORS, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO FITNESSSHARE’S RECORDS, PROGRAMS OR SERVICES. IN NO EVENT SHALL THE AGGREGATE LIABILITY OF FITNESSSHARE, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF OR INABILITY TO USE THE SITE OR TO THESE TERMS EXCEED ANY COMPENSATION YOU PAY, IF ANY, TO FITNESSSHARE FOR ACCESS TO OR USE OF THE SITE.</p>
  </div>

  <div class="information__text">
    <h2>Indemnification</h2>
    <p>You agree to defend, indemnify and hold harmless FitnessShare, its officers, members, employees, and agents, from and against any and all claims, damages, costs, and expenses, including attorneys’ fees, arising from or related to your use of the Site and/or your breach of any representation, warranty, or other provision of the Terms.</p>
  </div>

  <div class="information__text">
    <h2>Applicable Law & Jurisdiction</h2>
    <p>These Terms are governed by and will be construed in accordance with the laws of the State of New York, without regard to the principles of conflicts of laws. By using this Site, you hereby agree that any and all disputes regarding these Terms will be subject to the state and federal courts in New York, New York. These Terms operate to the fullest extent permissible by law.</p>
    <p>Any claim or cause of action you may have with respect to your use of this Site must be commenced within one (1) year after the claim or cause of action arises.</p>
  </div>

  <div class="information__text">
    <h2>Termination</h2>
    <p>FitnessShare reserves the right to terminate these Terms without notice and/or refuse or limit access to the Site for any reason, including without limitation, if FitnessShare believes that the conduct of any user violates these Terms.</p>
  </div>

  <div class="information__text">
    <h2>General</h2>
    <p>If any provision of these Terms is held to be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions. These Terms constitute the entire agreement between you and FitnessShare relating to the subject matter herein.</p>
  </div>

  <div class="information__text">
    <h2>Acknowledgement</h2>
    <p>BY ACCESSING AND USING THE SITE, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS AND AGREE TO BE BOUND BY THEM.</p>
  </div>
</div>

  <script src="/js/main.js"></script>
</body>
</html>

